<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h3 class="card-title mb-0">
          <i class="fas fa-plus-circle me-2"></i>New Fishing Trip
        </h3>
      </div>
      <div class="card-body">
        <%= render 'form', fishing_trip: @fishing_trip %>
      </div>
    </div>
  </div>
</div>
